


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav {
	border-bottom: solid 3px #e0e0e0;
}

.navbar {
  padding: .75rem 1rem;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body > .container-fluid {
  padding: 60px 15px 45px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}





/* Utility Classes */


/* Margins */

.no-margin {
  margin: 0 !important;
}

.m-top-15 {
  margin-top: 15px !important;
}

.m-right-15 {
  margin-right: 15px !important;
}

.m-bottom-15 {
  margin-bottom: 15px !important;
}

.m-left-15 {
  margin-left: 15px !important;
}

.m-top-30 {
  margin-top: 30px !important;
}

.m-bottom-30 {
  margin-bottom: 30px !important;
}


/* Padding */

.no-padding {
  padding: 0 !important;
}

.p-top-15 {
  padding-top: 15px !important;
}

.p-right-15 {
  padding-right: 15px !important;
}

.p-bottom-15 {
  padding-bottom: 15px !important;
}

.p-left-15 {
  padding-left: 15px !important;
}


/* Colors */

.white {
	background: white !important;
}





/* Panels */

.am-panel-wrapper {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-bottom: 1rem;
}

.am-panel {
  border-radius: 3px;
  border: solid 1px #efefef;
  border-bottom: solid 3px #e0e0e0;
  padding: 1rem;
}


/* Forms */

.am-form-row {
	margin-left: 0;
	margin-right: 0;
  margin-bottom: 30px;
}

.form-control {
  border-top: solid 3px #e0e0e0;
  border-left: 2px solid #f6f6f6;
  border-right: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  background: rgba(208, 208, 208, 0.2);
  line-height: 2;
  padding: .6rem .75rem;
}

.form-control:focus {
  color: #292b2c;
  background: #f6f6f6;
  border-top: solid 3px #a7a6a6;
  border-left: 2px solid #f6f6f6;
  border-right: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  outline: 0;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c5c4c4;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #c5c4c4;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #c5c4c4;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #c5c4c4;
}



.form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dedede;
}
.form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #dedede;
}
.form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #dedede;
}
.form-control:focus:-moz-placeholder { /* Firefox 18- */
  color: #dedede;
}


.am-form-check .form-check-input {
  margin-right: .5rem;
}

.form-check-input {
  opacity: 0;
}

.form-radio-label, .form-check-label {
  padding-left: 2rem;
  margin-bottom: .5rem;
}

.am-form-row select {
  height: 3.5rem !important;
}

.am-form-row select:focus {
  border-top: solid 3px #e0e0e0;
  border-left: 2px solid #f6f6f6;
  border-right: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  background: rgba(208, 208, 208, 0.2);
}


.form-radio-label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    background: #e0e0e0;
    border-radius: 10px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}


.form-check-label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    z-index: 0;
    background: #e0e0e0;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}


.form-check-label:after {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 4px;
  top: 10px;
  content: '';
  position: absolute;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  z-index: 1;

}


input[type="radio"]:checked ~ label.form-radio-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: none;
  background: #26a69a;
  margin-top: 3px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}


input[type="checkbox"]:checked ~ label.form-check-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: none;
  background: #26a69a;
  margin-top: 3px;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}


input[type="checkbox"]:checked ~ label.form-check-label:after {
  top: 4px;
  left: 1px;
  width: 7px;
  height: 12px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.am-button {
  margin-top: 30px;
  color: white;
  background: #26a69a;
  border-radius: 3px;
  border-bottom: solid 3px #24867d;
  padding: 1rem 2rem .75rem;
}

.am-button:hover {
  color: white;
  background: #26988e;
  border-bottom: solid 3px #22776f;
}

.am-file-input {
  height: 4rem;
}

.am-file-input::-webkit-file-upload-button {
  visibility: hidden;
  padding-top: 1rem;
  padding-left: 4rem;
}

.am-file-input:focus {
  outline: none;
}

.am-file-input::before {
  content: 'Choose File';
  display: inline-block;
  color: white;
  background: #26a69a;
  border-radius: 3px;
  border-bottom: solid 3px #24867d;
  padding: 1rem 2rem .75rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}




















