


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav {
	border-bottom: solid 4px #e0e0e0;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body > .container-fluid {
  padding: 60px 15px 45px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}





/* Utility Classes */


/* Margins */

.no-margin {
  margin: 0 !important;
}

.m-top-15 {
  margin-top: 15px !important;
}

.m-right-15 {
  margin-right: 15px !important;
}

.m-bottom-15 {
  margin-bottom: 15px !important;
}

.m-left-15 {
  margin-left: 15px !important;
}

.m-top-30 {
  margin-top: 30px !important;
}

.m-bottom-30 {
  margin-bottom: 30px !important;
}


/* Padding */

.no-padding {
  padding: 0 !important;
}

.p-top-15 {
  padding-top: 15px !important;
}

.p-right-15 {
  padding-right: 15px !important;
}

.p-bottom-15 {
  padding-bottom: 15px !important;
}

.p-left-15 {
  padding-left: 15px !important;
}


/* Colors */

.white {
	background: white !important;
}





/* Panels */

.am-panel-wrapper {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-bottom: 1rem;
}

.am-panel {
  border-radius: 3px;
  border-bottom: solid 3px #e0e0e0;
  padding: 1rem;
}


/* Forms */

.am-form-row {
	/*margin-left: 0 !important;*/
	/*margin-right: 0 !important;*/
	margin-left: 0;
	margin-right: 0;
}







